.post {
  width: 100%;
  border-radius: 0px;
  -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 16px -8px rgba(97, 99, 97, 0.68);
  margin: 20px 0;
  /* border: 10px solid rgb(255, 174, 0); */
}

.postWrapper {
  padding: 10px;
}

.postTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.postTopLeft {
  display: flex;
  align-items: center;
}

.postProfileImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.postUsername {
  font-size: 15px;
  font-weight: 500;
  margin: 0 10px;
}

.postDate{
    font-size: 12px;
}

.postCenter{
    margin: 20px 0;
}

.postImg{
    margin-top: 20px;
    width: 100%;
    max-height: 500px;
    object-fit: contain;
}

.postBottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.postBottomLeft{
    display: flex;
    align-items: center;   
}

.likeIcon{
    width: 24px;
    height: 24px;
    margin-right: 5px;
    cursor: pointer;
}

.postLikeCounter{
    font-size: 15px;
}

.postCommentText{
    cursor: pointer;
    border-bottom: 1px dashed gray;
    font-size: 15px;
}



.editinput{
  width: 100%;
  font-size: 15px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid rgb(233, 231, 227);
  border-radius: 4px;
  box-sizing: border-box;
  background-color: rgb(233, 231, 227);
}

.postText{
  width: auto;
}

.posteditbutton{
  cursor: pointer;
  margin-top: 20px;
  position:sticky;
  width: 50px;
  border: none;
  color: white;
  background-color: green;

}

.postdeletebutton{
  cursor: pointer;
  margin-top: -27px;
  margin-left: -50px;
  position: absolute;
  border: none;
  color: white;
  background-color: red;
}