.profile{
    display: flex;
}

.profileRight{
/* flex: 8; */
margin-right: 2px;
}

.profileRightBottom{
    display: flex;
}

.alluserimg{
height: 150px;
width: 150px;
border-radius: 200px;
}
.rightbaradmin{
   margin-left: 350px;
}

.allusername{
    color: black;
    font-weight: 500;
    /* margin-left: 45px; */
}

.alluserlist{
  margin-top: 20px;
  margin-left: 320px;
}

.MainTitle{
    font-size: 40px;
    margin-bottom: 20px;
}